node_modules
release
release/*
target
target/*

public/dist
.idea/*
meltik.iml
*.tar
public/dest
public/apps/dest

.npmignore
.project
.settings/
Invoicer-Gui-DEV.iml
*.orig
/jsm
/app/dist
nohup.out
dist/
!app/bower_components/**/dist/
marlin-fe.iml
