<div id="controller">
    <h1>{{title}}</h1>
    <div class="row">
        <div>
            <div class="well">
                <div class="row">

                    <div class="col-xs-6 col-sm-3 col-lg-3">
                        <label for="id_publish">ID Transito</label>
                        <input id="id_publish" class="form-control" placeholder="Ej:185327"
                               ng-model="transit.transitId"
                               ng-change="cleanRequireds()"/>
                    </div>

                    <div class="ui-widget">
                        <div class="col-xs-6 col-sm-2 col-lg-3">
                            <label for="pet-class">Clase</label>
                            <input id="pet-class" class="form-control" type="select" placeholder="Ej: Perro"
                                   ng-model="transit.animalType" ng-change="changeBreed()">
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-2 col-lg-3">
                        <label for="pet-breed">Raza</label>
                        <input id="pet-breed" class="form-control" disabled type="text" placeholder="Ej: Pastor Aleman"
                               ng-model="transit.animalBreed">
                    </div>
                    <div class="col-xs-6 col-sm-2 col-lg-3">
                        <label for="pet-breed">Edad</label>
                        <select id="pet-age" type="select" class="form-control" placeholder="Ej: ADULTO"
                                ng-model="transit.animalAge"

                                ng-options="name for (code,name) in animalAges">
                            <option selected value > Seleccione una edad </option>
                        </select>

                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-12 col-sm-3 col-lg-3">
                        <!-- <a id="id-popover" data-placement="left"class="glyphicon glyphicon-map-marker" rel="popover" data-content="" title="Gmap Location"></a>
                        -->

                        <label for="pet-location-input">Localizacion </label> <span class="error"
                                                                                    ng-show="locationRequired">*</span>
                        <input id="pet-location-input" class="form-control" type="select"
                               placeholder="Ej: San Miguel, Buenos Aires, Argentina" ng-keypress="cleanRange()"

                        >
                    </div>

                    <div class="col-xs-12 col-sm-3 col-lg-3">
                        <label for="max-range">Rango(metro) </label>
                        <input id="max-range" class="form-control" type="number" min="0" max="10000"
                               placeholder="Ej: 500" ng-model="transit.range" ng-change="drawRange()">
                    </div>

                </div>


                <div id="intro-wrap">
                    <div class="open-intro center "><span class="glyphicon glyphicon-chevron-down"></span></div>

                    <div id="contentWrap" class="">
                        <div class="row">

                            <div class="col-xs-12  col-md-6 col-sm-6 col-lg-6">


                                <div id="map"></div>
                            </div>

                            <div class="col-xs-12  col-md-6 col-sm-6 col-lg-6">
                                </br>
                                <button type="button"
                                        class="col-xs-12 col-md-6 col-sm-6 col-lg-3 btn btn-success float-right margin-common"
                                        ng-click="search('button')">
                                    Buscar
                                </button>
                                <button type="button"
                                        class="col-xs-12  col-md-6 col-sm-6 col-lg-3 btn btn-primary float-right margin-common"
                                        ng-click="init()">Reset
                                </button>
                            </div>
                        </div>


                        <div class="close-intro center"><span class="glyphicon glyphicon-chevron-up"></span></div>

                    </div>

                </div>


            </div>
            <ul id="pagination-top" class="pagination-md" style="display:table;
    margin:0px auto 0px auto;"></ul>


            <div class="row" ng-if="searchResponse">
                <div ng-repeat="item in searchResponse">


                    <a class=" well col-xs-12 col-lg-3" target="_blank"
                       href="http://www.marlin.com.ar/transito-animal/{{item.transitId}}">

                        <ul style="list-style-type:none; padding:0px;">
                            <li><span class="span-describe">Id: </span>{{item.transitId}}</li>
                            <li><span class="span-describe">Contacto:</span> {{item.contactName}}</li>
                            <li><span class="span-describe">Clase:</span> {{item.animalType}}</li>
                            <li><span class="span-describe">Raza:</span> {{item.animalBreed}}</li>
                            <li><span class="span-describe">Edad:</span> {{item.animalAge}}</li>
                        </ul>
                    </a>


                </div>
            </div>
            <div class="center centered ">
                <ul id="pagination-bottom"  class="pagination-md"></ul>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>


<script>

    function initAutocomplete() {
        var input = document.getElementById('pet-location-input');
        var searchBox = new google.maps.places.SearchBox(input);
        console.log(searchBox);

        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 0, lng: 0},
            zoom: 1,
            mapTypeId: 'roadmap'
        });
        ;


        searchBox.addListener('places_changed', function () {
            $('#contentWrap').removeClass("hide");
            $('#max-range').attr("disabled", false);


            var places = searchBox.getPlaces();


            if (places.length == 0) {
                return;
            } else {
                window.places = places;
                console.log(places);
                console.log(places[0].geometry.location.lat());
                console.log(places[0].geometry.location.lng());
            }
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: places[0].geometry.location.lat(), lng: places[0].geometry.location.lng()},
                zoom: 13,
                mapTypeId: 'roadmap'
            });

            var marker = new google.maps.Marker({
                position: {lat: places[0].geometry.location.lat(), lng: places[0].geometry.location.lng()},
                map: map
            });

            window.markerCenter = marker;

            window.map = map;


        });

        var getMap = function (opts) {
            var src = "http://maps.googleapis.com/maps/api/staticmap?",
                params = $.extend({
                    zoom: 12,
                    size: '200x200',
                    maptype: 'roadmap',
                    sensor: false
                }, opts),
                query = [];

            $.each(params, function (k, v) {
                query.push(k + '=' + encodeURIComponent(v));
            });

            src += query.join('&');
            console.log(src);
            return '<img src="' + src + '" />';
        };

        /*

         $('#id-popover').popover(
         {
         html: true,
         trigger: 'hover',
         content:function () {
         var input = document.getElementById('pet-location-input');
         var content = getMap({center:input.value});
         console.log(content);
         return content;
         }
         });

         */


    }
    ;</script>

<div class="well center hide" id="pleaseWaitDialog" style="
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #222222;">
    <h1 style="color:white">Buscando... </h1>
    <img alt="loader" height="200px" width="300px" src="../images/hamster-loader.gif">
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYTGDzYzyRVliXU2q-WRcP_fmnEmSKO8Y&libraries=places,geometry&callback=initAutocomplete"
        async defer></script>


