<div>
    <h1>Recuperar contraseña</h1>


    <div class="row margin-top">
        <div class="col-md-4">
        </div>
            <div class="col-md-4 center">

                <div class="row">
                <label for="email"> Ingrese su email</label>
                <input maxlength="32" type="text" class="form-control" id="email" ng-model="request.mail">
                </div>
                </br>
                <div class="row">
                    <button ng-click="recoverPassword()">Recuperar contraseña</button>
                </div>
            </div>
            <div class="col-md-4"></div>

    </div>
</div>
